# Import pandas library
We use pandas for data manipulation and analysis.

In [1]:
import pandas as pd

# Load the dataset
Read the CSV file '2019 Oct.csv' into a pandas DataFrame for analysis.

In [5]:
# df=pd.read_csv('2019 Oct.csv')
df=pd.read_csv('sample.csv')

In [6]:
df = df.head(10000000)

In [7]:
df

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-10-01 00:00:00 UTC,view,44600062,2103807459595379968,NaN,shiseido,35.79,541312140,72d76fde-8bb3-4e00-8c23-a032dfed738c
1,2019-10-01 00:00:00 UTC,view,3900821,2053013552326769920,appliances.environment.water_heater,aqua,33.20,554748717,9333dfbd-b87a-4708-9857-6336556b0fcc
2,2019-10-01 00:00:01 UTC,view,17200506,2053013559792630016,furniture.living_room.sofa,NaN,543.10,519107250,566511c2-e2e3-422b-b695-cf8e6e792ca8
3,2019-10-01 00:00:01 UTC,view,1307067,2053013558920209920,computers.notebook,lenovo,251.74,550050854,7c90fc70-0e80-4590-96f3-13c02c18c713
4,2019-10-01 00:00:04 UTC,view,1004237,2053013555631879936,electronics.smartphone,apple,1081.98,535871217,c6bd7419-2748-4c56-95b4-8cec9ff8b80d
...,...,...,...,...,...,...,...,...,...
245,2019-10-01 00:03:29 UTC,view,28717908,2053013565782089984,apparel.shoes,burgerschuhe,102.45,547041231,a1002e68-e218-461c-bb0b-93270d15abca
246,2019-10-01 00:03:30 UTC,view,27700106,2053013560086230016,construction.tools.pump,leo,64.35,515630204,f9cc0313-5572-4894-a4eb-45d855f064cc
247,2019-10-01 00:03:32 UTC,view,4300285,2053013552385489920,NaN,electrolux,102.94,544648245,bb8e28c8-d11f-428a-95e7-056e974fe835
248,2019-10-01 00:03:32 UTC,view,6200547,2053013552293210112,appliances.environment.air_heater,oasis,49.81,554193409,f41989d7-6f56-43a3-b066-f3cb1a632edf
249,2019-10-01 00:03:33 UTC,view,1005115,2053010000000000000,electronics.smartphone,apple,975.57,514218020,d7c4761f-de75-454b-9164-177db5e53695